// Declaration d'une variables (ce commentaire ne sera pas transferer dans les fichier compilé)
$color-primary: #4286f4;
$sm-breakpoint: 575px;
$md-breakpoint: 767px;
$lg-breakpoint: 991px;
$xl-breakpoint: 1199px;
